@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
body {
    max-width:100%;
    margin: 0px;
    padding: 0px;
}
h1, h3, h5, h4 {
    margin: 0px;
    padding: 10px;
}

p {
    font-family: 'Poppins', sans-serif;
}
nav{
    position: fixed;
    top: 0px;
    z-index: 1;
}
.topnav {
    max-width:100%;
    display: flex;
    background-color: #181716;
    justify-content: space-between;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
}
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}
.topnav li {
    display: inline;
    padding: 0px;
    float: left;
}
.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 16px 14px;	
    text-decoration: none;
}
.topnav li a:hover {
    background-color: #2460a4;
}
.topnav img{
    padding-left: 16px;
    padding-top: 5px;
    padding-right:10px;
}
.topnavitem {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhY3QlMjBibHVlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-image: url(https://images.unsplash.com/photo-1581084243124-209fc8f93cf6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZGFyayUyMGJsdWUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    height: 400px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.columns {
    max-width:100%;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    max-width:100%;
    flex: 20%;
}
.columncontent {
    flex: 60%;
}

.footer-distributed{
    margin-top: 15px;
	background: #181716;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 70%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-small{
    margin-top: 15px;
	background: #181716;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    font-family: 'Poppins', sans-serif;
	padding: 20px 50px;
    padding-bottom: 15px;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
}